.common-button {
  font-family: $fontFamily;
  display: inline-block;
  color: white;
  padding: 6px 15px;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 4px;
  outline: none;

  &--black {
    background: $black;

    &:hover {
      background: lighten($color: $black, $amount: 10%);
    }
  }

  &--pink {
    background: $pink;

    &:hover {
      background: lighten($color: $pink, $amount: 10%);
    }
  }

  &--darkGray {
    background: $darkGray;

    &:hover {
      background: lighten($color: $darkGray, $amount: 10%);
    }
  }
}
