.common-input {
  font-family: $fontFamily;
  border-radius: 4px;
  background: $white;
  border: 1px solid $gray;
  height: 34px;
  width: 100%;
  font-size: 14px;
  padding: 10px 15px;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:focus {
    box-shadow: rgba($darkGray, 0.25) 0 0 0 0.2rem;
    border-color: $darkGray;
    outline: 0;
  }
}
