.modal--dialog {
  width: 380px;
  padding: 15px;
}

.modal--header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--title {
    font-weight: bold;
    font-size: 19px;
  }

  button {
    padding: 3px;
    margin-right: -3px;
  }
}

.modal--body {
  padding: 15px 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}
.form-group {
  margin-bottom: 15px;

  input {
    @extend .common-input;
  }
}
