// font
@font-face {
  font-family: "Noto Sans KR Regular";
  src: url("./font/NotoSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR Medium";
  src: url("./font/NotoSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR Bold";
  src: url("./font/NotoSans-Bold.woff2") format("woff2");
}

$fontFamily: "Noto Sans KR Regular";

// color
$white: #fff;
$black: #333;
$lightGray: #e9ecef;
$gray: gray;

$mainColor: #222e38;
