.list-header {
  font-family: "Noto Sans KR Medium";
  background-color: $lighterGray;
  height: 50px;
  font-size: 1.3em;
  padding: 0px 15px;
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // text
  span {
    line-height: 50px;
  }

  &--end {
    justify-content: flex-end;
  }
}

#list-header__search {
  @extend .common-input;
  width: 250px;
}
