.list-container {
  flex-grow: 1;
  height: calc(100vh - 100px);
  min-height: 768px;
  & > div {
    height: 100%;
  }
}

.measurement-patient-list {
  & > * {
    height: 50%;
  }
}

.patient-list {
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
}
