.nav {
  height: 60px;
  background-color: $white;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid $gray;
}

.nav__logo {
  height: 25px;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__right__dropdown {
  position: relative;
  width: auto;

  &__text {
    color: $black;
    font-family: "Noto Sans KR Bold";
    padding: 10px 16px;
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      transition: all 0.3s;
      border: solid $black;
      border-width: 0 1px 1px 0;
      float: right;
      margin-left: 15px;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

  &.active &__text:after {
    margin-top: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &__items {
    width: 100%;
    position: absolute;
    visibility: hidden;
    border: 1px solid $lightGray;
    border-top: none;
    height: 0px;
    overflow: hidden;
    transition: all 0.7s ease;
  }

  &.active &__items {
    visibility: visible;
    height: 100px;
    transition: all 0.7s ease;
  }

  &__item {
    position: relative;
    background: $white;
    border-top: 1px solid $lightGray;
    cursor: pointer;
    padding: 15px 18px;
    height: 50px;

    &:first-of-type {
      border-top: none;
    }

    &:hover {
      // color: white;
      background: $gray;
    }
  }
}

.nav__right__tutorial-btn {
  line-height: 24px;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    color: $gray;
  }
}
