.tutorial {
  top: 0;
  position: absolute;
  background: $lightGray;
  width: 100%;
  height: 100%;
  padding: 15px;

  &--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    font-size: 25px;
    cursor: pointer;
    &:hover {
      color: $darkGray;
    }
  }
}
